{include file="public/header"}
<div class="main-wrap">
    <blockquote class="layui-elem-quote fhui-admin-main_hd">
        <h2>修改项目</h2>
    </blockquote>
    <form class="layui-form">
    <input type="hidden" name="id" value="{$id}">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" value="{$data['project_name']}" name="project_name" placeholder="项目名称"  lay-verify="title">
            </div>
        </div>、
        <div class="layui-form-item">
            <label class="layui-form-label">用户表名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="database_name" value="{$data['database_name']}" placeholder="项目用户表"  lay-verify="title">
            </div>
            <span style="color:#aaa;">* 这里添加项目用户表名 注: 以user_开头命名</span>
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label">经销商表</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="dealer_tablename" placeholder="项目用户表"  lay-verify="title">
            </div>
            <span style="color:#aaa;">* 这里添加项目经销商表名称 注: 以dealer_开头命名</span>
        </div> -->

   <!--  <div class="layui-form-item">
        <label class="layui-form-label">选择城市</label>
        <div class="layui-input-inline" style="width:100px;">
          <select name="quiz1" id="city" class="GetCity">
            <option value="">请选择省</option>
            <option value="浙江" selected="">浙江省</option>
            <option value="你的工号">江西省</option>
            <option value="你最喜欢的老师">福建省</option>
          </select>
        </div>
    </div> -->

       <div class="layui-form-item" style="margin-top: 15px;">
          <div class="layui-form-item">
            <label class="layui-form-label">项目周期</label>
            <div class="layui-input-inline">
              <input class="layui-input" name="beginPeriod" placeholder="开始日" id="LAY_demorange_s">
            </div>
            <div class="layui-input-inline">
              <input class="layui-input" name="endPeriod" placeholder="截止日" id="LAY_demorange_e">
            </div>
          </div>
        </div>   

       <div class="layui-form-item" style="width: 300px;">
          <label class="layui-form-label">选择活动</label>
          <div class="layui-input-block">
            <select name="draw_id" lay-filter="aihao">
              <option value="0">==请选择==</option>
              {foreach name="DrawData" item="v"}
                <option value="{$v.draw_id}" {if condition="$v.draw_id eq $data['draw_id']"} selected="selected" {/if}>{$v.draw_name}</option>
              {/foreach}
            </select>
          </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" checked="" name="start" lay-skin="switch" lay-filter="switchTest" title="开关"><div class="layui-unselect layui-form-switch layui-form-onswitch"><i></i></div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add-role" data-href="{:url('project_update')}">立即修改</button>
                <a class="layui-btn layui-btn-small do-action" data-type="doGoBack" data-href=""><i class="fa fa-mail-reply"></i>返回上一页</a>
            </div>
        </div>
    </form>

</div>
{include file="public/footer"}

<script>
    layui.use(['layedit', 'laydate','common'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,common=layui.common
      ,layedit = layui.layedit
      ,laydate = layui.laydate;
      
      //创建一个编辑器
      var editIndex = layedit.build('LAY_demo_editor');
     
      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 3){
            return '项目名称至少得3个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });
      
      //监听指定开关
      form.on('switch(switchTest)', function(data){
        layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
          offset: '6px'
        });
        layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
      });
      
      //监听提交
     form.on('submit(add-role)', function(data){
            var sub=true;
            var url=$(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (data) {
                            if (data.code == 1) {
                                // location.href = rturl;
                                common.layerAlertS(data.msg, '提示');
                                window.location.href="{:url('project_list')}";
                            }
                            else {
                                common.layerAlertE(data.msg, '提示');
                            }
                        },
                        beforeSend: function () {
                            //    // 一般是禁用按钮等防止用户重复提交
                            $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        //complete: function () {
                        //    $(sbbtn).removeAttr("disabled");
                        //},
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }

            return false;
        });

       var start = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
              end.min = datas; //开始日选好后，重置结束日的最小日期
              end.start = datas //将结束日的初始值设定为开始日
            }
      };
  
  var end = {
    min: laydate.now()
    ,max: '2099-06-16 23:59:59'
    ,istoday: false
    ,choose: function(datas){
      start.max = datas; //结束日选好后，重置开始日的最大日期
    }
  };
  
  document.getElementById('LAY_demorange_s').onclick = function(){
    start.elem = this;
    laydate(start);
  }
  document.getElementById('LAY_demorange_e').onclick = function(){
    end.elem = this
    laydate(end);
  }

    }); 
</script>
