<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<center>
		<h1></h1>
		<form action="http://www.flow.com/public/index.php/port/Userlotter/UserLotter" method="post">
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td>信命</td>
					<td><input type="text" name="username" value="秦林慧"></td>
				</tr>
				<tr>
					<td>性别</td>
					<td><input type="text" name="sex" value="男"></td>
				</tr>
				<tr>
					<td>邮箱</td>
					<td><input type="text" name="email" value="15035574759@1263.com"></td>
				</tr>
				<tr>
					<td>电话</td>
					<td><input type="text" name="numberphone" value="15110110706"></td>
				</tr>
				<tr>
					<td>城市</td>
					<td><input type="text" name="city" value="北京,海淀"></td>
				</tr>
				<tr>
					<td>秘钥</td>
					<td><input type="text" name="enc" value="00def73ab839923d5b3073eb88220cfefb6d7ac428dc5ed20c8be2b1d4276792"></td>
				</tr>
				<tr align="center">
					<td colspan="2">
						<input type="submit" value="提交">
						<input type="reset" value="重置"/>
					</td>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>